	<div data-role="header">
		<a href="#tasks" data-icon="back">Back</a>
        <h1>Edit Task</h1>
  	</div>
  	<div data-role="content">
		
		<form id="edit-task" name="task">
		  
		  
		  <div class="field">
		  	<label for="category_id">Category:</label>
		  	<select name="category_id" id="select-category" value="<%= category_id %>" >
		  		<option value="standard"> <%= category_id %> </option>
			</select>
		  </div>
		  
		  <div class="field">
		  	<label for="status_id">Status:</label>
		  	<select name="status_id" id="select-status" value="<%= status_id %>" >
		  		<option value="standard"> <%= status_id %> </option>
			</select>
		  </div>
		  
		
		  <div class="field">
		    <label for="title"> title:</label>
		    <input type="text" name="title" id="title" value="<%= title %>" >
		  </div>
		
		  <div class="field">
		    <label for="description"> description:</label>
		    <input type="text" name="description" id="description" value="<%= description %>" >
		  </div>
		
		  <div class="field">
		    <label for="pointvalue"> pointvalue:</label>
		    <input type="text" name="pointvalue" id="pointvalue" value="<%= pointvalue %>" >
		  </div>
		
		  <div class="field">
		    <label for="due_date"> due_date:</label>
		    <input type="text" name="due_date" id="due_date" value="<%= due_date %>" >
		  </div>
		
		  <div class="field">
		    <label for="etc"> etc:</label>
		    <input type="text" name="etc" id="etc" value="<%= etc %>" >
		  </div>
		  
		  <div class="field">
		    <select name="assigned_to" id="select-friend">
			</select>
		  </div>
		  
		  <div class="actions">
		    <input type="submit" value="Update Task" />
		  </div>
  

</form>
</div>