	<div data-role="header">
		<a href="#tasks" data-icon="back">Back</a>
        <h1>Edit Task</h1>
  	</div>
  	<div data-role="content">
		
		<form id="edit-task" name="task">
		  
		  
		  <div class="field">
		    <label for="title">Title:</label>
		    <input type="text" name="title" id="title" value="<%= title %>" required>
		  </div>
		
		  <!--<div class="field">
		    <label for="description">Description:</label>
		    <input type="text" name="description" id="description" value="<%= description %>" >
		  </div><--!>
		  
		  <div class="field">
		    <label for="description">Description:</label>
		  	<textarea name="description" id="description"><%= description %></textarea>
		  </div>
		  
		  <div class="field">
		  	<label for="category_id">Category:</label>
		  	<select name="category_id" id="select-category" value="<%= category_id %>" required >
		  		<option value="<%= category_id %>"> <%= category.title %> </option>
			</select>
		  </div>
		  
		  
		  <div class="field">
		  	<label for="status_id">Status:</label>
		  	<select name="status_id" id="select-status" value="<%= status_id %>">
		  		<option value="<%= status_id %>"> <%= status.title %> </option>
			</select>
		  </div>
		  
		  
		  <div class="field">
		  	<label for "assigned_to"> Task currently assigned to:</label>
		    <select name="assigned_to" id="select-friend" >
			</select>
		  </div>
		
		  <div data-role="field">
			<label for="select-pointvalue">Reward points:</label>
			<input type="range" name="pointvalue" id="select-pointvalue" value="<%= pointvalue %>" min="1" max="10" data-highlight="true" required/>
		  </div>
		
    	  <div data-role="field">
			<label for="select-etc">Estimated time consumption (hours):</label>
			<input type="range" name="etc" id="select-etc" value="<%= etc %>" min="1" max="100" data-highlight="true" />
		  </div>
		
		  <div data-role="field">
		  	<label for="select-due_date">Due Date: </label>
		  	<input type="datetime-local" name="due_date" id="select-due_date" value="<%= due_date %>" />
		  </div>
		  
		  <div class="actions">
		    <input type="submit" value="Update Task" />
		  </div>
  

</form>
</div>