<h1>Edit task</h1>

<form id="edit-task" name="task">
  <div class="field">
    <label for="id"> id:</label>
    <input type="text" name="id" id="id" value="<%= id %>" >
  </div>

  <div class="field">
    <label for="tasklist_id"> tasklist_id:</label>
    <input type="text" name="tasklist_id" id="tasklist_id" value="<%= tasklist_id %>" >
  </div>

  <div class="field">
    <label for="category_id"> category_id:</label>
    <input type="text" name="category_id" id="category_id" value="<%= category_id %>" >
  </div>

  <div class="field">
    <label for="status_id"> status_id:</label>
    <input type="text" name="status_id" id="status_id" value="<%= status_id %>" >
  </div>

  <div class="field">
    <label for="assigned_to"> assigned_to:</label>
    <input type="text" name="assigned_to" id="assigned_to" value="<%= assigned_to %>" >
  </div>

  <div class="field">
    <label for="title"> title:</label>
    <input type="text" name="title" id="title" value="<%= title %>" >
  </div>

  <div class="field">
    <label for="description"> description:</label>
    <input type="text" name="description" id="description" value="<%= description %>" >
  </div>

  <div class="field">
    <label for="pointvalue"> pointvalue:</label>
    <input type="text" name="pointvalue" id="pointvalue" value="<%= pointvalue %>" >
  </div>

  <div class="field">
    <label for="duedate"> duedate:</label>
    <input type="text" name="duedate" id="duedate" value="<%= duedate %>" >
  </div>

  <div class="field">
    <label for="etc"> etc:</label>
    <input type="text" name="etc" id="etc" value="<%= etc %>" >
  </div>

  <div class="actions">
    <input type="submit" value="Update Task" />
  </div>

</form>

<a href="#/index">Back</a>