	<div data-role="header">
		<a href="#tasklists/detail" data-icon="back">Back</a>
        <h1>New Task</h1>
  	</div>
  	<div data-role="content">
		
		<form id="new-task" name="task">
		  <div class="field">
		    <input type="hidden" name="id" id="id" value="<%= id %>" >
		  </div>
		  
		  <div class="field">
		    <input type="hidden" name="pointvalue" id="pointvalue" value="<%= pointvalue %>" >
		  </div>
		
		  <div class="field">
		    <input type="text" name="title" id="title" value="<%= title %>" placeholder="Title" required>
		  </div>
		  
		  <div class="field">
		  <textarea name="description" id="description" value="<%= description %>" placeholder="Description">
			</textarea>
		  </div>
		  
		  <!--<div class="field">
		    <input type="text" name="description" id="description" value="<%= description %>" placeholder="Description">
		  </div>
		  <--!>
		  
			<select name="category_id" id="select-category" required>
   				<option value="" style="display:none">Please select category</option>
			</select>
	  
			<select name="tasklist_id" id="select-tasklist" required>
				<option value="" style="display:none">Please select tasklist</option>
			</select>
			
			<select name="assigned_to" id="select-friend">
				<option value="" style="display:none">Assign task to</option>
			</select>
			
			<div data-role="fieldcontain">
		  	<label for="select-due_date">Due Date: </label>
		  	<input type="datetime-local" name"due_date" id="select-due_date" value="<%= due_date %>" required/>
		  </div>
			
			
		  <div data-role="fieldcontain">
			<label for="select-pointvalue">Reward points:</label>
			<input type="range" name="pointvalue" id="select-pointvalue" value="<%= pointvalue %>" min="1" max="10" data-highlight="true" required/>
		  </div>
		  
		  
		  <div data-role="fieldcontain">
			<label for="select-etc">Estimated time consumption (hours):</label>
			<input type="range" name="etc" id="select-etc" value="<%= etc %>" min="1" max="100" data-highlight="true" />
		  </div>
	
		  <div class="actions">
		    <input type="submit" value="Create Task" />
		  </div>
		
		</form>
				
	</div>