	<div data-role="header">
		<a href="#tasks" data-icon="back">Back</a>
        <h1>Tasks Detail</h1>
        <a href="#tasks/<%= id %>/edit" data-icon="edit" data-role="button">Edit</a>
  	</div>
  	<div data-role="content">
		
		<p>
		  <b>Title:</b>
		  <%= title %>
		</p>
		<p>
		  <b>Status:</b>
		  <%= status.title %>
		</p>
		<p>
		  <b>Assigned to:</b>
		  <%= user.name %>
		</p>
		<p>
		  <b>Category:</b>
		  <%= category.title %>
		</p>
		<p>
		  <b>Desciption:</b>
		  <%= description %>
		</p>
		<p>
		  <b>Point value:</b>
		  <%= pointvalue %>
		</p>
		<p>
		  <b>Due:</b>
		  <%= due_date_f %>
		</p>		
		<p>
		  <b>Estimated Time Consumption:</b>
		  <%= etc %>
		</p>
	</div>
		<div data-role="footer" align="center">
		<a href="#tasks/<%= id %>/delete" data-icon="delete" data-role="button">Delete</a>
  	</div>
