	<div data-role="header">
		<a href="#tasks" data-icon="back">Back</a>
        <h1>Tasks Detail</h1>
        <% if (owner.id == window.current_user.id) { %>
        	<a href="#tasks/<%= id %>/edit" data-icon="edit" data-role="button">Edit</a>
        <% } %>
  	</div>
  	<div data-role="content">
		
		<h2>
			Owned by <%= owner.name %>
		</h2>
		<h4>
			Belongs to tasklist: "<%= tasklist.name %>"
		</h4>
		
		
		<p>
		  <b>Title:</b>
		  <%= title %>
		</p>
		<p>
		  <b>Status:</b>
		  <% if(status == null) { %>
		  no status 
		  <% } else { %>
		  <%= status.title %>
		  <% } %>
		</p>
		<p>
		  <b>Assigned to:</b>
		  <% if(user == null) { %>
		  not assigned
		  <% } else { %>
		  <%= user.name %>
		  <% } %>
		</p>
		<p>
		  <b>Category:</b>
		  <%= category.title %>
		</p>
		<p>
		  <b>Point value:</b>
		  <%= pointvalue %>
		</p>
		<p>
		  <b>Due:</b>
		  <%= due_date_f %>
		</p>
		<p>
		  <b>Exact Due date:</b>
		  <%= due_date_short %>
		</p>	
		<p>
		  <b>Estimated Time Consumption (hours):</b>
		  <%= etc %>
		</p>
		<p>
		  <b>Desciption:</b>
		  <%= description %>
		</p>
	</div>
		<div data-role="footer" align="center">
		<% if (owner.id == window.current_user.id) { %>
			<a href="#tasks/<%= id %>/destroy" data-icon="delete" data-role="button">Delete</a>
		<% } else { %>
		
			<form id="edit-task" name="task">
			  	<select name="status_id" id="select-status" value="<%= status_id %>">
			  		<option value="<%= status_id %>"> <%= status.title %> </option>
				</select>
			</form>
		<% } %>
  	</div>
