<p>
  <b>Id:</b>
  <%= id %>
</p>

<p>
  <b>Tasklist:</b>
  <%= tasklist_id %>
</p>

<p>
  <b>Category:</b>
  <%= category_id %>
</p>

<p>
  <b>Status:</b>
  <%= status_id %>
</p>

<p>
  <b>Assigned to:</b>
  <%= assigned_to %>
</p>

<p>
  <b>Title:</b>
  <%= title %>
</p>

<p>
  <b>Description:</b>
  <%= description %>
</p>

<p>
  <b>Pointvalue:</b>
  <%= pointvalue %>
</p>

<p>
  <b>Duedate:</b>
  <%= duedate %>
</p>

<p>
  <b>Etc:</b>
  <%= etc %>
</p>


<a href="#/index" data-icon="back" data-role="button">Back</a>
<a href="#/<%= id %>/edit" data-icon="gear" data-role="button">Edit</a>
<a href="#/<%= id %>/delete" data-icon="delete" data-role="button">Delete</a>
