<div data-role="content">
		
		
		<p>
		  <b>Id:</b>
		  <%= id %>
		</p>
		<p>
		  <b>Name:</b>
		  <%= name %>
		</p>
		<p>
		  <b>UID</b>
		  <%= uid%>
		</p>
		<p>
		  <b>OAUTH_TOKEN</b>
		  <%= oauth_token%>
		</p>
		<p>
		  <b>created_at</b>
		  <%= created_at%>
		</p>
		<p>
		  <b>OAUTH_expires</b>
		  <%= oauth_expires_at%>
		</p>
		
</div>