<p>
  <b>Provider:</b>
  <%= provider %>
</p>

<p>
  <b>Uid:</b>
  <%= uid %>
</p>

<p>
  <b>Name:</b>
  <%= name %>
</p>

<p>
  <b>Outh token:</b>
  <%= outh_token %>
</p>

<p>
  <b>Outh expires at:</b>
  <%= outh_expires_at %>
</p>


<a href="#/index">Back</a>