<td><%= provider %></td>
<td><%= uid %></td>
<td><%= name %></td>
<td><%= outh_token %></td>
<td><%= outh_expires_at %></td>

<td><a href="#/<%= id %>">Show</td>
<td><a href="#/<%= id %>/edit">Edit</td>
<td><a href="#/<%= id %>/destroy" class="destroy">Destroy</a></td>