	<div data-role="header">
		<a href="#tasklists" data-icon="back">Back</a>
        <h1>Edit Tasklist</h1>
		<a href="#tasklists/<%= id %>/delete" data-icon="delete" data-role="button">Delete</a>
  	</div>
  	<div data-role="content">
		
		
		<p>
		  <b>Id:</b>
		  <%= id %>
		</p>
		<p>
		  <b>Name:</b>
		  <%= name %>
		</p>
		
		
		<a href="#tasklists/index" data-icon="back" data-role="button">Back</a>
		<a href="#tasklists/<%= id %>/delete" data-icon="delete" data-role="button">Delete</a>
		<a href="#tasklists/<%= id %>/edit" data-icon="gear" data-role="button">Edit</a>
				
	</div>


